:root {
  --primary-color: rgb(214, 121, 164);
  --secondary-color: #f7e1f4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Roboto", sans-serif;
}

body {
  display: block;
  background: linear-gradient(160deg, #ffffff 0%, #efbfdc 80%, #e3ffe7);
  
}

.section {
  margin-top: 100px;
  margin-bottom: 80px;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  font-size: 48px;
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

@media (max-width: 800px) {
  #hi-sentence {
    font-size: 50px;
  }
  #name {
    font-size: 65px;
  }
  #description,
  #yoga-pic,
  #pink-pic {
    display: none;
  }

  .yoga-app {
    margin-top: -80px;
  }
  
  .weather-app,
  .pink-app {
    display: block;
  }

  #about-sentence {
    font-size: 80px;
  }
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  font-family: var(--primary-font);
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  font-family: var(--primary-font);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact-link:hover,
.about-link:hover {
  color: var(--secondary-color);
  transition: 500ms;
  font-size: 20px;
}

.homepage-link {
  display: flex;
  justify-content: center;
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--primary-color);
}

.about-paragraphs {
  margin: 60px;
  border-radius: 28px;
  margin-top: -50px;
}

.about-paragraphs p {
  margin: 80px;
}

p {
  font-family: var(--primary-font);
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

#yoga-p,
#weather-p,
#pink-p,
.about-paragraphs {
  background: var(--secondary-color);
  display: block;
  box-shadow: 0px 0px 38px 20px rgb(255, 255, 255);

}
.p-one {
  letter-spacing: 1px;
}

.hobbies-sentence {
  font-weight: bold;
  letter-spacing: 1px;
}

.hobby {
  display: list-item;
  text-align: start;
  margin: 26px -22px 7px 44px;
  padding: 0 25px 8px 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  text-decoration: none;
  color: var(--secondary-color);
  transition: 500ms;
  font-size: 17px;
}

#yoga-title {
  color: #FF9090;
  text-align: left;
}

#weather-title {
  color: #FF9090;
}

#pink-title {
  color: #FF9090;
}

#yoga-pic {
  margin-top: 10px;
}
